<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to <%= title %></p>
   <center>
  <form action="/users" method="POST">
    <input type="submit" value="PostJSON">
  </form>

  <a href="/list"><span>Show list</span></a>
</center>
</body>

</html>